<div id="<%= dom_id proparty %>">
  <p>
    <strong>Name:</strong>
    <%= proparty.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= proparty.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= proparty.price %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= proparty.rooms %>
  </p>

  <p>
    <strong>Bathroom:</strong>
    <%= proparty.bathroom %>
  </p>
 

</div>
